<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <style>
        .container
        {
            margin-top: 8%;
            width: 50%;
        }
        .card-body
        {
            margin-top : 30px;
        }
        .card-title
        {
            margin-top: 50px;
        }
        #show
        {
            position:absolute;
            margin-left: 180px;
            outline: none;
            height: 30px;
            cursor: pointer;
        }
        .eye
        {
            position: absolute;
            margin-left: 90%;
            margin-top: 2px;
            cursor: pointer;
        }
    </style>
    <body>
    <div class="container">
    <br> <br>
    
    <div class="card bg-light">
        <h4 class="card-title  text-center">LOGIN</h4>
    <article class="card-body mx-auto">
        <form method="POST" action="">
            {% csrf_token %}
        <!--<div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input name="fname" class="form-control" placeholder="Full name" type="text">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
             <input type="text" name="username" class="input">
        </div><!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
             </div>
            
             <input type="password" name="password" class="input password">
             <span class="eye" onclick="show(this)" ><i class="fa fa-eye-slash eye_slash" aria-hidden="true"></i></span>
            
        </div> <!-- form-group// -->
        
        <!-- form-group// -->
        
            {% for message in messages %}
            <span style="color: red; margin-bottom: 3px;">{{message}}</span>
            {% endfor %}
                                              
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-block" value="LOGIN"> </input>
        </div> <!-- form-group// -->      
        </form>
    </article>
    </div> <!-- card.// -->
    
    </div> 
    <!--container end.//-->
    
    
    </body>
    <script>
        var input_field=document.querySelectorAll('.input')
        input_field[0].placeholder="Username";
        input_field[1].placeholder="Password";
        function show(element)
        {
            let password=document.querySelector(".password")
            let eye_slash=document.querySelector(".eye_slash")
            eye_slash.classList.toggle("fa-eye-slash")
            eye_slash.classList.toggle("fa-eye")
           if(eye_slash.classList[2]=="fa-eye")
           {
            password.type="show"
           }
           else
           {
            password.type="password"
           }
        }
    </script>
</html>


